*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}

tr   				 { text-align: left; padding-right: 5px;padding-left: 5px;}

#ErrorMsgs           { color: #f61; font-size: smaller;}
.right 				 { float: right;}   				

.rdo 				 { font-weight: bold;text-align: center;padding-left: 25px;}
.izda				 { text-align: left;}
