 <select name="quiz[categoria]">
  <option value="otro" selected>Otro</option>
  <option value="humanidades" <% if (quiz.categoria === 'humanidades'){%> selected  <%}%> >Humanidades</option>
  <option value="ocio" <% if (quiz.categoria === 'ocio'){%> selected  <%}%> >Ocio</option>
  <option value="ciencia" <% if (quiz.categoria === 'ciencia'){%> selected  <%}%> >Ciencia</option>
  <option value="tecnologia" <% if (quiz.categoria === 'tecnologia'){%> selected  <%}%> >Tecnología</option>
</select>